.btn{
    padding: 8px 12px;
    border-radius:  3px;
    border: 0;
}

.btn-primary{
    background-color: #0d6efd;
    color: white;
}

.btn-danger{
    background-color: #ec1248;
    color: white;
}


/* .button:hover{
    background-color: #45a049;
    cursor:pointer;
} */
